@import "./utils/basic";
@import "./utils/variables";
@import "./components/page-header";
@import "./components/nav-header";
@import "./components/header-contacts";
@import "./components/logo";
@import "./components/hero/hero";
@import "./components/hero/hero-button";
@import "./components/Featuries/featuries-comonents";
@import "./components/Icons/featuries-icons";
@import "./components/Activity/activity-componrnts";
@import "./components/Team/team-components";
@import "./components/Team/team-card";
@import "./components/Team/team-socialnetworks";
@import "./components/Clients/clients";
@import "./components/Portfolio/portfolio-filter";
@import "./components/Portfolio/portfolio-card-set";
@import "./components/Portfolio/portfolio-card";
@import "./components/Footer/page-footer";
@import "./components/Footer/footer-address";
@import "./components/Footer/footer-social-networks";
@import "./components/Footer/footer-subscription-form";
@import "./components/Modal/backdrop";
@import "./components/Modal/modal";
@import "./components/Modal/close-btn";
@import "./components/Modal/name";
@import "./components/Modal/comentary-field";
@import "./components/Modal/checkbox";
@import "./components/Modal/oder-form";
@import "./components/Modal/order-form-btn";