.hero {
     background-color: #2f303a;
     text-align: center;
     color: $wightText;
     padding-top: 200px;
     padding-bottom: 200px;

     max-width: 1600px;
     margin-right: auto;
     margin-left: auto;

     // background-image: linear-gradient(to right,
     //           rgba(47, 48, 58, 0.4),
     //           rgba(47, 48, 58, 0.4)),
     //      url(../images/Img_hero.jpg);
     // background-position: center;
     // background-repeat: no-repeat;
     // background-size: cover;

     @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
               background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url("../images/Img_hero.jpg");
          }

    @media screen and (min-width: $tablet) {
         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
              url("../images/Img_hero.jpg");

         @media (min-device-pixel-ratio: 2),
         (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
              background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                   url("../images/Img_hero.jpg");
         }
    }
    @media screen and (min-width: $desktop) {
         padding: 200px 0;
         margin-right: auto;
         margin-left: auto;
         max-width: 1600px;

         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
              url("../images/Img_hero.jpg");

         @media (min-device-pixel-ratio: 2),
         (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
              background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                   url("../images/Img_hero.jpg");
         }
    }
}

.hero__container {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.hero__title {
     margin-top: 0;
     font-weight: 900;
     margin-bottom: 30px;
     font-size: 44px;
     line-height: 1.4;
     letter-spacing: 0.06em;
     text-transform: uppercase;

     @media screen and (min-width: $desktop) {
     min-width: 696px;
     
     font-size: 44px;
     line-height: 1.36;
          }
}