.hero__btn {
     padding: 10px 32px;
     border-radius: 4px;
     border-color: transparent;

     background-color: $buttonColor;
     color: $wightText;

     font-weight: 700;
     font-size: 16px;
     line-height: 1.9;
     letter-spacing: 0.06em;

     transition: $transitionBgc;

     cursor: pointer;
     box-shadow: $heroShadow;
     min-width: 136px;
     margin-bottom: 0px;

     &:hover {
     background-color: $btnColor;
     color: $wightText;
     }
     &:focus {
      background-color: $btnColor;
      color: $wightText;
     }
}

