.social-networks-thumb {
     margin-right: 93px;
}

.social-networks-thumb__text {
     margin-bottom: 20px;

     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     text-transform: uppercase;
     color: $wightText;
}

.social-networks {
     display: flex;
     list-style: none;
     gap: 10px;

     &__link {
     display: flex;
     justify-content: center;
     align-items: center;

     width: 44px;
     height: 44px;
     border-radius: 50%;
     background-color: rgba(255, 255, 255, 0.1);
     transition: $transitionBgc;

        &:hover {
          background-color: $buttonColor;
          }
        &:focus {
          background-color: $buttonColor;
          }
     }
     &__icon {
     fill: $wightText;
     width: 20px;
     height: 20px;
     align-items: center;
}
}


