.page-footer__address-thumb {
     margin-right: 70px;
     align-items: baseline;
}
.address {
     &__list {
     list-style: none;
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.7;
     color: $wightText;
     display: block;
}
     &__item {
     margin-bottom: 9px;
}
     &__link {
     color: rgba(255, 255, 255, 0.6);
     text-decoration: none;
     font-style: normal;
     display: block;

     transition: $transitionColor;

     &:hover {
          color: $accentColor;
          }
     &:focus {
          color: $accentColor;
     }
     
}
}

.address__item .phone {
     margin-bottom: 0;
}