.activity { 
     &__title {
     text-align: center;
     font-weight: 700;
     font-size: 36px;
     line-height: 1.2;
     color: $textTitleColor;
     margin-top: 0;
     margin-bottom: 50px;
}
     &__list {
     list-style: none;
     margin-top: 0;
     margin-bottom: 0;
     padding-bottom: 0;
     display: flex;
}
     &__img-wrapper {
     position: relative;
}
     &__text {
     position: absolute;
     bottom: 0;
     padding: 27px 15px;

     width: 100%;

     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     text-align: center;
     text-transform: uppercase;

     color: $wightText;
     background: $backgroundActivity;
}
     &__item {
     margin-bottom: 0;
     padding-bottom: 0;

     &:not(:nth-child(1n + 3)) {
     margin-right: 30px;
}
}

}





