.team {
     background-color: $tertiaryBgc;

     &_title {
     text-align: center;
     font-weight: 700;
     font-size: 36px;
     line-height: 1.2;
     color: $textTitleColor;
     margin-top: 0;
     margin-bottom: 50px;
}
     &__list {
     list-style: none;
     display: flex;
}
     &__item {
     margin-right: 30px;
     margin-bottom: 0;
     background-color: $wightText;
     border-radius: 0px 0px 4px 4px;

     box-shadow: $shadow;

          &:nth-child(4n) {
     margin-right: 0;
}
}
}






